@import url(https://fonts.googleapis.com/css?family=Barlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
#topcard{
    background-image: url(./images/desktop/image-header.jpg);
    height: 800px;
    
    background-repeat: no-repeat;
    background-size: contain;

}
#creatives{
    font-family: 'Fraunces',sans-serif;
    font-weight: 900;
    margin-top: 175px;
    font-size: 50px;
    letter-spacing: 3px;
    color: white;
}
#arrowdiv{
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-top: 60px;
    
}
#divgroups{
    display: flex;
    flex-direction: column;
}
#divgroup1{
    display: flex;
    flex-direction: row;
}
.divheaders{
    font-family: 'Fraunces',sans-serif;
    font-weight: 900;
    text-align: center;
}
.divset{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#divgroup2{
    display: flex;
    flex-direction: row;
}
.bodycopy{
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
}
.learnmorelink{
    text-align: center;
    font-family: 'Fraunces',sans-serif;
    font-weight: 700;
}

