@import url(https://fonts.googleapis.com/css?family=Barlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
#topcard{
    background-image: url(./images/desktop/image-header.jpg);
    height: 700px;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#creatives{
    font-family: 'Fraunces',sans-serif;
    font-weight: 800;
    padding-top: 35px;
    font-size: 50px;
}
#arrowdiv{
    display: flex;
    justify-content: center;
    padding-left: 0;
    padding-top: 25px;
}
